scripts-externes/kelio/AbsenceFileService.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://echange.service.open.bodet.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AbsenceFileService" targetNamespace="http://echange.service.open.bodet.com">
<wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://lang.java" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://lang.java">
<xsd:complexType name="Throwable">
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="Exception">
<xsd:complexContent>
<xsd:extension base="tns:Throwable">
<xsd:sequence/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://echange.service.open.bodet.com" xmlns:ns0="http://lang.java" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://echange.service.open.bodet.com">
<xsd:complexType name="AbsenceFile">
<xsd:complexContent>
<xsd:extension base="tns:EmployeeInformation">
<xsd:sequence>
<xsd:element minOccurs="0" name="absenceFileKey" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="absenceTypeAbbreviation" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="absenceTypeDescription" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="absenceTypeKey" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="comment" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="creationDate" nillable="true" type="xsd:date"/>
<xsd:element minOccurs="0" name="durationInDays" nillable="true" type="xsd:double"/>
<xsd:element minOccurs="0" name="durationInHours" nillable="true" type="xsd:double"/>
<xsd:element minOccurs="0" name="endDate" nillable="true" type="xsd:date"/>
<xsd:element minOccurs="0" name="endingTheAfternoon" nillable="true" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="eventObservingDate" nillable="true" type="xsd:date"/>
<xsd:element minOccurs="0" name="existRelatedDocument" nillable="true" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="firstEndTime" nillable="true" type="xsd:time"/>
<xsd:element minOccurs="0" name="firstEndTimePosition" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="firstStartTime" nillable="true" type="xsd:time"/>
<xsd:element minOccurs="0" name="firstStartTimePosition" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="fromClockings" nillable="true" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="initialNoticeCessationWorkDate" nillable="true" type="xsd:date"/>
<xsd:element minOccurs="0" name="lastModificationDate" nillable="true" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="lastWorkingDayDate" nillable="true" type="xsd:date"/>
<xsd:element minOccurs="0" name="limitedToAPeriod" nillable="true" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="noticeCessationWorkExtension" nillable="true" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="numberOfAbsenceDays" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="prescribedEndDate" nillable="true" type="xsd:date"/>
<xsd:element minOccurs="0" name="repetitiveAbsencePeriod" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="resumptionWorkDate" nillable="true" type="xsd:date"/>
<xsd:element minOccurs="0" name="resumptionWorkEarlyDate" nillable="true" type="xsd:date"/>
<xsd:element minOccurs="0" name="secondEndTime" nillable="true" type="xsd:time"/>
<xsd:element minOccurs="0" name="secondEndTimePosition" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="secondStartTime" nillable="true" type="xsd:time"/>
<xsd:element minOccurs="0" name="secondStartTimePosition" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="splitHolidaysWaiver" nillable="true" type="xsd:short"/>
<xsd:element minOccurs="0" name="startDate" nillable="true" type="xsd:date"/>
<xsd:element minOccurs="0" name="startInTheMorning" nillable="true" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="totalInDays" nillable="true" type="xsd:double"/>
<xsd:element minOccurs="0" name="totalInHours" nillable="true" type="xsd:double"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="AbsencePeriod">
<xsd:complexContent>
<xsd:extension base="tns:EmployeeInformation">
<xsd:sequence>
<xsd:element minOccurs="0" name="absenceTypeAbbreviation" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="absenceTypeDescription" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="absenceTypeKey" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="date" nillable="true" type="xsd:date"/>
<xsd:element minOccurs="0" name="endTime" nillable="true" type="xsd:time"/>
<xsd:element minOccurs="0" name="endTimePosition" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="limitedToAPeriod" nillable="true" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="offset" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="splitHolidaysWaiver" nillable="true" type="xsd:short"/>
<xsd:element minOccurs="0" name="startTime" nillable="true" type="xsd:time"/>
<xsd:element minOccurs="0" name="startTimePosition" nillable="true" type="xsd:int"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ArrayOfAbsenceFile">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="AbsenceFile" nillable="true" type="tns:AbsenceFile"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfAbsencePeriod">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="AbsencePeriod" nillable="true" type="tns:AbsencePeriod"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfAskedAbsence">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="AskedAbsence" nillable="true" type="tns:AskedAbsence"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfAskedEmployee">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="askedEmployee" nillable="true" type="tns:askedEmployee"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="AskedAbsence">
<xsd:complexContent>
<xsd:extension base="tns:AskedPopulationWithPeriod">
<xsd:sequence>
<xsd:element minOccurs="0" name="absenceFileKey" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="limitedToAPeriod" nillable="true" type="xsd:boolean"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="AskedPopulation">
<xsd:complexContent>
<xsd:extension base="tns:EmployeeInformation">
<xsd:sequence>
<xsd:element minOccurs="0" name="groupFilter" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="populationEndDate" nillable="true" type="xsd:date"/>
<xsd:element minOccurs="0" name="populationFilter" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="populationMode" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="populationStartDate" nillable="true" type="xsd:date"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="AskedPopulationWithPeriod">
<xsd:complexContent>
<xsd:extension base="tns:AskedPopulation">
<xsd:sequence>
<xsd:element minOccurs="0" name="dateMode" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="endDate" nillable="true" type="xsd:date"/>
<xsd:element minOccurs="0" name="endOffset" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="startDate" nillable="true" type="xsd:date"/>
<xsd:element minOccurs="0" name="startOffset" nillable="true" type="xsd:int"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="EmployeeInformation">
<xsd:complexContent>
<xsd:extension base="tns:Object">
<xsd:sequence>
<xsd:element minOccurs="0" name="archivedEmployee" nillable="true" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="employeeBadgeCode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="employeeFirstName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="employeeIdentificationCode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="employeeIdentificationNumber" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="employeeKey" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="employeeSurname" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType abstract="true" name="Object">
<xsd:sequence>
<xsd:element minOccurs="0" name="errorMessage" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="technicalString" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="askedEmployee">
<xsd:complexContent>
<xsd:extension base="tns:EmployeeInformation">
<xsd:sequence>
<xsd:element minOccurs="0" name="dateMode" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="endDate" nillable="true" type="xsd:date"/>
<xsd:element minOccurs="0" name="endOffset" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="startDate" nillable="true" type="xsd:date"/>
<xsd:element minOccurs="0" name="startOffset" nillable="true" type="xsd:int"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="deleteAbsenceFiles" type="tns:deleteAbsenceFiles"/>
<xsd:complexType name="deleteAbsenceFiles">
<xsd:sequence>
<xsd:element minOccurs="0" name="absenceFilesToDelete" type="tns:ArrayOfAbsenceFile"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="deleteAbsenceFilesResponse" type="tns:deleteAbsenceFilesResponse"/>
<xsd:complexType name="deleteAbsenceFilesResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="absenceFilesInError" type="tns:ArrayOfAbsenceFile"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="deleteAbsenceFilesBetweenTwoDates" type="tns:deleteAbsenceFilesBetweenTwoDates"/>
<xsd:complexType name="deleteAbsenceFilesBetweenTwoDates">
<xsd:sequence>
<xsd:element minOccurs="0" name="absenceFilesWithDates" type="tns:ArrayOfAbsenceFile"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="deleteAbsenceFilesBetweenTwoDatesResponse" type="tns:deleteAbsenceFilesBetweenTwoDatesResponse"/>
<xsd:complexType name="deleteAbsenceFilesBetweenTwoDatesResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="absenceFilesInError" type="tns:ArrayOfAbsenceFile"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="exportAbsenceFiles" type="tns:exportAbsenceFiles"/>
<xsd:complexType name="exportAbsenceFiles">
<xsd:sequence>
<xsd:element minOccurs="0" name="populationFilter" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="groupFilter" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="startDate" nillable="true" type="xsd:date"/>
<xsd:element minOccurs="0" name="endDate" nillable="true" type="xsd:date"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="exportAbsenceFilesResponse" type="tns:exportAbsenceFilesResponse"/>
<xsd:complexType name="exportAbsenceFilesResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="exportedAbsenceFiles" type="tns:ArrayOfAbsenceFile"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="exportAbsenceFilesAssignmentList" type="tns:exportAbsenceFilesAssignmentList"/>
<xsd:complexType name="exportAbsenceFilesAssignmentList">
<xsd:sequence>
<xsd:element minOccurs="0" name="exportFilter" type="tns:ArrayOfAskedAbsence"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="exportAbsenceFilesAssignmentListResponse" type="tns:exportAbsenceFilesAssignmentListResponse"/>
<xsd:complexType name="exportAbsenceFilesAssignmentListResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="exportedAbsenceFiles" type="tns:ArrayOfAbsenceFile"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="exportAbsenceFilesFromEmployeeList" type="tns:exportAbsenceFilesFromEmployeeList"/>
<xsd:complexType name="exportAbsenceFilesFromEmployeeList">
<xsd:sequence>
<xsd:element minOccurs="0" name="employeeList" type="tns:ArrayOfAskedEmployee"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="exportAbsenceFilesFromEmployeeListResponse" type="tns:exportAbsenceFilesFromEmployeeListResponse"/>
<xsd:complexType name="exportAbsenceFilesFromEmployeeListResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="exportedAbsenceFiles" type="tns:ArrayOfAbsenceFile"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="exportAbsenceFilesLimitedToAPeriod" type="tns:exportAbsenceFilesLimitedToAPeriod"/>
<xsd:complexType name="exportAbsenceFilesLimitedToAPeriod">
<xsd:sequence>
<xsd:element minOccurs="0" name="populationFilter" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="groupFilter" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="startDate" nillable="true" type="xsd:date"/>
<xsd:element minOccurs="0" name="endDate" nillable="true" type="xsd:date"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="exportAbsenceFilesLimitedToAPeriodResponse" type="tns:exportAbsenceFilesLimitedToAPeriodResponse"/>
<xsd:complexType name="exportAbsenceFilesLimitedToAPeriodResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="exportedAbsenceFiles" type="tns:ArrayOfAbsenceFile"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="exportAbsenceFilesList" type="tns:exportAbsenceFilesList"/>
<xsd:complexType name="exportAbsenceFilesList">
<xsd:sequence>
<xsd:element minOccurs="0" name="exportFilter" type="tns:ArrayOfAskedAbsence"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="exportAbsenceFilesListResponse" type="tns:exportAbsenceFilesListResponse"/>
<xsd:complexType name="exportAbsenceFilesListResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="exportedAbsenceFiles" type="tns:ArrayOfAbsenceFile"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="exportAbsencePeriods" type="tns:exportAbsencePeriods"/>
<xsd:complexType name="exportAbsencePeriods">
<xsd:sequence>
<xsd:element minOccurs="0" name="populationFilter" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="groupFilter" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="startDate" nillable="true" type="xsd:date"/>
<xsd:element minOccurs="0" name="endDate" nillable="true" type="xsd:date"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="exportAbsencePeriodsResponse" type="tns:exportAbsencePeriodsResponse"/>
<xsd:complexType name="exportAbsencePeriodsResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="exportedAbsencePeriods" type="tns:ArrayOfAbsencePeriod"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="exportAbsencePeriodsFromEmployeeList" type="tns:exportAbsencePeriodsFromEmployeeList"/>
<xsd:complexType name="exportAbsencePeriodsFromEmployeeList">
<xsd:sequence>
<xsd:element minOccurs="0" name="employeeList" type="tns:ArrayOfAskedEmployee"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="exportAbsencePeriodsFromEmployeeListResponse" type="tns:exportAbsencePeriodsFromEmployeeListResponse"/>
<xsd:complexType name="exportAbsencePeriodsFromEmployeeListResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="exportedAbsencePeriods" type="tns:ArrayOfAbsencePeriod"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="exportAbsencePeriodsList" type="tns:exportAbsencePeriodsList"/>
<xsd:complexType name="exportAbsencePeriodsList">
<xsd:sequence>
<xsd:element minOccurs="0" name="exportFilter" type="tns:ArrayOfAskedAbsence"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="exportAbsencePeriodsListResponse" type="tns:exportAbsencePeriodsListResponse"/>
<xsd:complexType name="exportAbsencePeriodsListResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="exportedAbsencePeriods" type="tns:ArrayOfAbsencePeriod"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="importAbsenceFiles" type="tns:importAbsenceFiles"/>
<xsd:complexType name="importAbsenceFiles">
<xsd:sequence>
<xsd:element minOccurs="0" name="absenceFilesToImport" type="tns:ArrayOfAbsenceFile"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="importAbsenceFilesResponse" type="tns:importAbsenceFilesResponse"/>
<xsd:complexType name="importAbsenceFilesResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="absenceFilesInError" type="tns:ArrayOfAbsenceFile"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="Exception" nillable="true" type="ns0:Exception"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"/>
</wsdl:message>
<wsdl:message name="deleteAbsenceFiles">
<wsdl:part element="tns:deleteAbsenceFiles" name="parameters"/>
</wsdl:message>
<wsdl:message name="deleteAbsenceFilesResponse">
<wsdl:part element="tns:deleteAbsenceFilesResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="deleteAbsenceFilesBetweenTwoDates">
<wsdl:part element="tns:deleteAbsenceFilesBetweenTwoDates" name="parameters"/>
</wsdl:message>
<wsdl:message name="deleteAbsenceFilesBetweenTwoDatesResponse">
<wsdl:part element="tns:deleteAbsenceFilesBetweenTwoDatesResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="exportAbsenceFiles">
<wsdl:part element="tns:exportAbsenceFiles" name="parameters"/>
</wsdl:message>
<wsdl:message name="exportAbsenceFilesResponse">
<wsdl:part element="tns:exportAbsenceFilesResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="exportAbsenceFilesAssignmentList">
<wsdl:part element="tns:exportAbsenceFilesAssignmentList" name="parameters"/>
</wsdl:message>
<wsdl:message name="exportAbsenceFilesAssignmentListResponse">
<wsdl:part element="tns:exportAbsenceFilesAssignmentListResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="exportAbsenceFilesFromEmployeeList">
<wsdl:part element="tns:exportAbsenceFilesFromEmployeeList" name="parameters"/>
</wsdl:message>
<wsdl:message name="exportAbsenceFilesFromEmployeeListResponse">
<wsdl:part element="tns:exportAbsenceFilesFromEmployeeListResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="exportAbsenceFilesLimitedToAPeriod">
<wsdl:part element="tns:exportAbsenceFilesLimitedToAPeriod" name="parameters"/>
</wsdl:message>
<wsdl:message name="exportAbsenceFilesLimitedToAPeriodResponse">
<wsdl:part element="tns:exportAbsenceFilesLimitedToAPeriodResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="exportAbsenceFilesList">
<wsdl:part element="tns:exportAbsenceFilesList" name="parameters"/>
</wsdl:message>
<wsdl:message name="exportAbsenceFilesListResponse">
<wsdl:part element="tns:exportAbsenceFilesListResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="exportAbsencePeriods">
<wsdl:part element="tns:exportAbsencePeriods" name="parameters"/>
</wsdl:message>
<wsdl:message name="exportAbsencePeriodsResponse">
<wsdl:part element="tns:exportAbsencePeriodsResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="exportAbsencePeriodsFromEmployeeList">
<wsdl:part element="tns:exportAbsencePeriodsFromEmployeeList" name="parameters"/>
</wsdl:message>
<wsdl:message name="exportAbsencePeriodsFromEmployeeListResponse">
<wsdl:part element="tns:exportAbsencePeriodsFromEmployeeListResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="exportAbsencePeriodsList">
<wsdl:part element="tns:exportAbsencePeriodsList" name="parameters"/>
</wsdl:message>
<wsdl:message name="exportAbsencePeriodsListResponse">
<wsdl:part element="tns:exportAbsencePeriodsListResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="importAbsenceFiles">
<wsdl:part element="tns:importAbsenceFiles" name="parameters"/>
</wsdl:message>
<wsdl:message name="importAbsenceFilesResponse">
<wsdl:part element="tns:importAbsenceFilesResponse" name="parameters"/>
</wsdl:message>
<wsdl:portType name="AbsenceFileServicePortType">
<wsdl:operation name="deleteAbsenceFiles">
<wsdl:input message="tns:deleteAbsenceFiles" name="deleteAbsenceFiles"/>
<wsdl:output message="tns:deleteAbsenceFilesResponse" name="deleteAbsenceFilesResponse"/>
<wsdl:fault message="tns:Exception" name="Exception"/>
</wsdl:operation>
<wsdl:operation name="deleteAbsenceFilesBetweenTwoDates">
<wsdl:input message="tns:deleteAbsenceFilesBetweenTwoDates" name="deleteAbsenceFilesBetweenTwoDates"/>
<wsdl:output message="tns:deleteAbsenceFilesBetweenTwoDatesResponse" name="deleteAbsenceFilesBetweenTwoDatesResponse"/>
<wsdl:fault message="tns:Exception" name="Exception"/>
</wsdl:operation>
<wsdl:operation name="exportAbsenceFiles">
<wsdl:input message="tns:exportAbsenceFiles" name="exportAbsenceFiles"/>
<wsdl:output message="tns:exportAbsenceFilesResponse" name="exportAbsenceFilesResponse"/>
<wsdl:fault message="tns:Exception" name="Exception"/>
</wsdl:operation>
<wsdl:operation name="exportAbsenceFilesAssignmentList">
<wsdl:input message="tns:exportAbsenceFilesAssignmentList" name="exportAbsenceFilesAssignmentList"/>
<wsdl:output message="tns:exportAbsenceFilesAssignmentListResponse" name="exportAbsenceFilesAssignmentListResponse"/>
<wsdl:fault message="tns:Exception" name="Exception"/>
</wsdl:operation>
<wsdl:operation name="exportAbsenceFilesFromEmployeeList">
<wsdl:input message="tns:exportAbsenceFilesFromEmployeeList" name="exportAbsenceFilesFromEmployeeList"/>
<wsdl:output message="tns:exportAbsenceFilesFromEmployeeListResponse" name="exportAbsenceFilesFromEmployeeListResponse"/>
<wsdl:fault message="tns:Exception" name="Exception"/>
</wsdl:operation>
<wsdl:operation name="exportAbsenceFilesLimitedToAPeriod">
<wsdl:input message="tns:exportAbsenceFilesLimitedToAPeriod" name="exportAbsenceFilesLimitedToAPeriod"/>
<wsdl:output message="tns:exportAbsenceFilesLimitedToAPeriodResponse" name="exportAbsenceFilesLimitedToAPeriodResponse"/>
<wsdl:fault message="tns:Exception" name="Exception"/>
</wsdl:operation>
<wsdl:operation name="exportAbsenceFilesList">
<wsdl:input message="tns:exportAbsenceFilesList" name="exportAbsenceFilesList"/>
<wsdl:output message="tns:exportAbsenceFilesListResponse" name="exportAbsenceFilesListResponse"/>
<wsdl:fault message="tns:Exception" name="Exception"/>
</wsdl:operation>
<wsdl:operation name="exportAbsencePeriods">
<wsdl:input message="tns:exportAbsencePeriods" name="exportAbsencePeriods"/>
<wsdl:output message="tns:exportAbsencePeriodsResponse" name="exportAbsencePeriodsResponse"/>
<wsdl:fault message="tns:Exception" name="Exception"/>
</wsdl:operation>
<wsdl:operation name="exportAbsencePeriodsFromEmployeeList">
<wsdl:input message="tns:exportAbsencePeriodsFromEmployeeList" name="exportAbsencePeriodsFromEmployeeList"/>
<wsdl:output message="tns:exportAbsencePeriodsFromEmployeeListResponse" name="exportAbsencePeriodsFromEmployeeListResponse"/>
<wsdl:fault message="tns:Exception" name="Exception"/>
</wsdl:operation>
<wsdl:operation name="exportAbsencePeriodsList">
<wsdl:input message="tns:exportAbsencePeriodsList" name="exportAbsencePeriodsList"/>
<wsdl:output message="tns:exportAbsencePeriodsListResponse" name="exportAbsencePeriodsListResponse"/>
<wsdl:fault message="tns:Exception" name="Exception"/>
</wsdl:operation>
<wsdl:operation name="importAbsenceFiles">
<wsdl:input message="tns:importAbsenceFiles" name="importAbsenceFiles"/>
<wsdl:output message="tns:importAbsenceFilesResponse" name="importAbsenceFilesResponse"/>
<wsdl:fault message="tns:Exception" name="Exception"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="AbsenceFileServiceSoapBinding" type="tns:AbsenceFileServicePortType">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="deleteAbsenceFiles">
<soap:operation soapAction="urn:deleteAbsenceFiles" style="document"/>
<wsdl:input name="deleteAbsenceFiles">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="deleteAbsenceFilesResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="deleteAbsenceFilesBetweenTwoDates">
<soap:operation soapAction="urn:deleteAbsenceFilesBetweenTwoDates" style="document"/>
<wsdl:input name="deleteAbsenceFilesBetweenTwoDates">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="deleteAbsenceFilesBetweenTwoDatesResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="exportAbsenceFiles">
<soap:operation soapAction="urn:exportAbsenceFiles" style="document"/>
<wsdl:input name="exportAbsenceFiles">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="exportAbsenceFilesResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="exportAbsenceFilesAssignmentList">
<soap:operation soapAction="urn:exportAbsenceFilesAssignmentList" style="document"/>
<wsdl:input name="exportAbsenceFilesAssignmentList">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="exportAbsenceFilesAssignmentListResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="exportAbsenceFilesFromEmployeeList">
<soap:operation soapAction="urn:exportAbsenceFilesFromEmployeeList" style="document"/>
<wsdl:input name="exportAbsenceFilesFromEmployeeList">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="exportAbsenceFilesFromEmployeeListResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="exportAbsenceFilesLimitedToAPeriod">
<soap:operation soapAction="urn:exportAbsenceFilesLimitedToAPeriod" style="document"/>
<wsdl:input name="exportAbsenceFilesLimitedToAPeriod">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="exportAbsenceFilesLimitedToAPeriodResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="exportAbsenceFilesList">
<soap:operation soapAction="urn:exportAbsenceFilesList" style="document"/>
<wsdl:input name="exportAbsenceFilesList">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="exportAbsenceFilesListResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="exportAbsencePeriods">
<soap:operation soapAction="urn:exportAbsencePeriods" style="document"/>
<wsdl:input name="exportAbsencePeriods">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="exportAbsencePeriodsResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="exportAbsencePeriodsFromEmployeeList">
<soap:operation soapAction="urn:exportAbsencePeriodsFromEmployeeList" style="document"/>
<wsdl:input name="exportAbsencePeriodsFromEmployeeList">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="exportAbsencePeriodsFromEmployeeListResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="exportAbsencePeriodsList">
<soap:operation soapAction="urn:exportAbsencePeriodsList" style="document"/>
<wsdl:input name="exportAbsencePeriodsList">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="exportAbsencePeriodsListResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="importAbsenceFiles">
<soap:operation soapAction="urn:importAbsenceFiles" style="document"/>
<wsdl:input name="importAbsenceFiles">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="importAbsenceFilesResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="AbsenceFileService">
<wsdl:port binding="tns:AbsenceFileServiceSoapBinding" name="AbsenceFileServiceHttpPort">
<soap:address location="https://plastigray.kelio.io/open/services/AbsenceFileService"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>